<div class="flex flex-col rounded-lg transition hover:ring-4 shadow hover:shadow-2xl overflow-hidden">
  <div class="flex-shrink-0">
    <a href="{{url}}" class="block relative">
      {{#if feature_image}}
      <img class="h-32 w-full object-cover" srcset="{{img_url feature_image size=" s"}} 300w, {{img_url feature_image
        size="m" }} 600w, {{img_url feature_image size="l" }} 1000w, {{img_url feature_image size="xl" }} 2000w"
        sizes="(max-width: 1000px) 400px, 700px" src="{{img_url feature_image size=" m"}}" alt="{{title}}">
      {{else}}
      <div class="h-32 w-full block bg-blue-500">&nbsp;</div>
      {{/if}}
      {{#if featured}} <span class="absolute bottom-3 left-3 text-white">
<svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 20 20" fill="currentColor">
  <path fill-rule="evenodd"
    d="M5 2a1 1 0 011 1v1h1a1 1 0 010 2H6v1a1 1 0 01-2 0V6H3a1 1 0 010-2h1V3a1 1 0 011-1zm0 10a1 1 0 011 1v1h1a1 1 0 110 2H6v1a1 1 0 11-2 0v-1H3a1 1 0 110-2h1v-1a1 1 0 011-1zM12 2a1 1 0 01.967.744L14.146 7.2 17.5 9.134a1 1 0 010 1.732l-3.354 1.935-1.18 4.455a1 1 0 01-1.933 0L9.854 12.8 6.5 10.866a1 1 0 010-1.732l3.354-1.935 1.18-4.455A1 1 0 0112 2z"
    clip-rule="evenodd" />
</svg>
        
      </span> {{/if}}
    </a>
  </div>
  <div class="flex-1 bg-white dark:bg-gray-900 dark:text-gray-200 p-6 flex flex-col justify-between">
    <div class="flex-1">
      <a href="{{url}}" class="block mt-2">
        <p class="text-xl font-semibold text-gray-900 dark:text-gray-200">
          {{title}}
        </p>
        <p class="mt-3 text-sm text-gray-500 line-clamp-3 md:line-clamp-4">
          {{excerpt}}
        </p>
      </a>
    </div>
    <div class="mt-6 flex">
      <div class="">
        <p class="text-sm font-medium text-gray-900 dark:text-gray-200">
          {{#foreach authors}}
          {{name}}
          {{/foreach}}
          <span aria-hidden="true">
            &middot;
          </span>
          <span class="text-gray-500"> <time datetime="{{date format=" YYYY-MM-DD"}}">{{date format="D MMM
              YYYY"}}</time></span>
        </p>
      </div>
    </div>
  </div>
</div>