<div class="relative py-20 rounded-2xl overflow-hidden flex col-span-3 sm:col-span-2 md:col-span-1 px-8 mx-auto">
  <div class="block mx-auto self-center text-center">
    <div class="text-3xl font-semibold text-gray-500">
      {{#if headline}}
        {{headline}}
      {{else}}
        Ready, Set, Speckle!
      {{/if}}
    </div>
    <blockquote class="mt-8">
      <div class="relative text-lg font-medium text-white text-gray-500">
        <p class="relative">
          {{#if subHeadline}}
            {{subHeadline}}
          {{else}}
            Give Speckle a spin: it's free and it should
            only take five minutes.
          {{/if}}
        </p>
        <div class="rounded-xl shadow-xl mt-5">
          <a href="/getstarted" class="flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white transition-colors bg-blue-600 hover:bg-blue-700 md:py-4 md:text-lg md:px-10">
            {{#if buttonText}}
              {{buttonText}}
            {{else}}
              Join the beta
            {{/if}}
          </a>
        </div>
      </div>
    </blockquote>
  </div>
</div>