<div class="relative py-20 rounded-xl shadow hover:shadow-2xl bg-white dark:bg-gray-800 transition overflow-hidden flex col-span-2 md:col-span-1">
  <a href="{{url}}" class="self-center">
    {{#if feature_image}}
      <img class="absolute inset-0 h-full w-full object-cover"
        srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
        sizes="(max-width: 1000px) 400px, 700px" src="{{img_url feature_image size="m"}}"
        alt="{{title}}">
    {{/if}}
    <div class="absolute inset-0 bg-blue-500 opacity-30" style="mix-blend-mode: multiply;"></div>
    <div class="absolute inset-0 bg-gradient-to-t from-blue-600 via-blue-600 opacity-90"></div>
    <div class="relative px-8">
      <div class="text-3xl font-semibold text-gray-100 dark:text-gray-100">
        {{title}}
      </div>
      <blockquote class="mt-8">
        <div class="relative text-lg font-medium text-white md:flex-grow">
          <p class="relative line-clamp-3">
            {{excerpt}}
          </p>
        </div>

        <footer class="mt-4">
          <p class="text-base font-semibold text-blue-200">
            Read More
          </p>
        </footer>
      </blockquote>
    </div>
  </a>
</div>