{{!< default}}

{{#post}}

  <article class="relative max-w-2xl mx-auto px-4 md:px-0">

    {{!-- Header --}}

    <header class="mt-10 prose prose-lg dark:prose-dark max-w-none">

      {{#if feature_image}}
        <img class="gh-feature-image mx-auto" srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w"
          sizes="(max-width: 1000px) 1000px, 2000px"
          loading="lazy" src="{{img_url feature_image size="xl"}}"
          alt="{{title}}" />
      {{/if}}
      <h1>
        Position: <span class="inline-block xl:inline text-gradient text-gradient bg-gradient-to-r from-blue-500 to-blue-700">{{title}}</span>
      </h1>
      {{#if custom_excerpt}}
        <p>
          {{custom_excerpt}}
        </p>
      {{/if}}

    </header>

    <div class="prose prose-blue dark:prose-dark max-w-none mt-10">

      {{content}}

    </div>

    <aside class="prose prose-blue dark:prose-dark mt-10">
      <div class="mb-10">
        <h1>
          Apply now!
        </h1>
        <p>
          Send us (hello [at] speckle [dot] systems) an
          up-to-date CV & a quick intro
          explaining your motivation for joining and
          what you think your contribution to the team
          can be. Any supporting links or documents are
          welcome.
        </p>
      </div>

      <div class="pb-10">
        {{> cardTag}}
      </div>
    </aside>

  </article>

{{/post}}