{{!< default}}


<article class="relative">

  <div class="w-default">
    {{#post}}
      <div class="post-body px-5 sm:px-10 md:mx-auto mt-24 pt-24 max-w-4xl text-gray-700 dark:text-gray-300">

        {{content}}

      </div>
    {{/post}}
  </div>

  <div class="px-5 mt-20 sm:px-10 md:mx-auto max-w-4xl grid grid-cols-1 sm:grid-cols-2 gap-20">

    <div class="relative h-screen/4 rounded-2xl overflow-hidden flex col-span-1 transition hover:shadow-2xl p-5 bg-white dark:bg-gray-900">
      <a href="/usecases" class="flex w-full h-full pa-5">
        <div class="block self-center pa-5">
          <div class="text-3xl font-semibold text-blue-600">
            Use cases →
          </div>
          <p class="dark:text-gray-300">Interoperability &
            more: see why AEC uses Speckle.</p>
        </div>
      </a>
    </div>


    <div class="relative h-screen/4 rounded-2xl overflow-hidden flex col-span-1 transition hover:shadow-2xl p-5 bg-white dark:bg-gray-900">
      <a href="/developers" class="flex w-full h-full pa-5">
        <div class="block self-center pa-5">
          <div class="text-3xl font-semibold text-blue-600">
            For Developers →
          </div>
          <p class="dark:text-gray-300">Want to build the
            pipelines and apps modern AEC companies need?
            Read on.</p>
        </div>
      </a>
    </div>

  </div>

  <div class="mt-20 px-5 sm:px-10 md:mx-auto max-w-4xl text-gray-700 dark:text-gray-300 text-center just">
    <h2 class="text-4xl mb-5 font-bold">Team</h2>
    <p class="max-w-prose mx-auto">Meet the full time
      Specklers! We're a remote team based around the
      world: London & Barcelona.</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-20 md:gap-10 my-20 text-left">

      {{#get 'authors' limit='all' include='count.posts' order='count.posts desc' filter="slug:-speckle"}}
        {{#foreach authors}}

          <div class="flex items-center space-x-4 lg:space-x-6">
            <img class="w-20 h-20 rounded-full lg:w-20 lg:h-20 shadow-2xl"
              src="{{profile_image}}" alt="">
            <div class="font-medium text-2xl leading-6 space-y-1 dark:text-gray-300">
              <h3>{{name}}</h3>
              <h3 class="text-blue-600 text-lg">{{location}}</h3>
              <p class="text-gray-500 text-xs">
                {{bio}}
              </p>
            </div>
          </div>

        {{/foreach}}
      {{/get}}

    </div>
  </div>

  <div class="px-5 mt-20 sm:px-10 md:mx-auto max-w-4xl">

    <div class="relative h-screen/4 rounded-2xl overflow-hidden transition hover:shadow-2xl p-5 flex justify-center text-center">
      <a href="/careers" class="flex w-full h-full pa-5">
        <div class="block self-center w-full pa-5">
          <div class="text-3xl font-semibold text-blue-600">
            Careers →
          </div>
          <p class="dark:text-gray-300">Want to join the
            team? Check out our open positions.</p>
        </div>
      </a>
    </div>

    {{!-- TODO --}}

    {{!--     <div class="relative h-screen/4 rounded-2xl overflow-hidden transition hover:shadow-2xl p-5 flex justify-center text-center">
      <a href="/careers" class="flex w-full h-full pa-5">
        <div class="block self-center w-full pa-5">
          <div class="text-3xl font-semibold text-blue-600">
            Press →
          </div>
          <p class="dark:text-gray-300">Want to showcase Speckle? Start here.</p>
        </div>
      </a>
    </div> --}}

  </div>

  <div class="px-5 mt-20 sm:px-10 md:mx-auto max-w-4xl text-xs dark:text-gray-200 text-center">
    Speckle is a trademark of AEC Systems Ltd., registered
    in the UK and in other countries.
  </div>

</article>


{{!-- {{> extras/patterns}} --}}